body {
background: url(classified.jpg) no-repeat center fixed;
background-size: cover;
}

h1 {

  font-family: Courier;
  font-size: 40px;
  line-height: 45px;
  text-align: center;

  color: #D72323;
}

h3{
font-family: Courier;
font-size: 30px;
line-height: 34px;
text-align: center;

color: #F5EDED;
}

#scrollNumber{
  width: 1000px;
  height: 23px;
  left: 0;
  top: 263px;
  font-family: Courier;
  font-size: 20px;
  line-height: 23px;
  align-items: right;
  text-align: right;

  color: #F5EDED;
}

#insertMessage{
  width: 400px;
  height: 250px;
  left: 157px;
  top: 200px;
  font-family: Courier;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;

  color: #F5EDED;

}

#stringMessage{
position: absolute;
width: 432px;
height: 226px;
left: calc(50% - 432px/2 - 369px);
top: calc(70% - 226px/2 - 91px);
opacity: 0.3;
border-radius: 30px;
text-align: justify;
font-family: Courier;
font-size: 20px;
color: #F5EDED;


background: #544B4B;
}

#results{
  position: absolute;
  width: 432px;
  height: 226px;
  left: calc(90% - 432px/2 - 369px);
  top: calc(70% - 226px/2 - 91px);
  opacity: 0.3;
  border-radius: 30px;
  text-align: justify;
  font-family: Courier;
  font-size: 20px;
  color: #F5EDED;

  background: #544B4B;
}

.btn{
  text-align: center;
  font-family: Courier;
  font-size: 20px;
  color: #F5EDED;
}

#codeBtnId {
  position: absolute;
  width: 104px;
  height: 43px;
  left: 100px;
  top: 500px;

  background: #5B0909;
  border-radius: 10px;

}

#decodeBtnId{
  position: absolute;
  width: 104px;
  height: 43px;
  left: 400px;
  top: 500px;

  background: #5B0909;
  border-radius: 10px;

}

#resetBtnId{
  position: absolute;
  width: 104px;
  height: 43px;
  left: 800px;
  top: 500px;

  background: #5B0909;
  border-radius: 10px;

}
